.cover{
    min-height: 100vh; 
    /*width: 100vw;*/
}

.header
{
	width:100%;
	/*max-width:1440px;*/
	padding:0 10%;
	position:relative;
	z-index:999
	display:block;
	margin:0 auto -1.5em;
	max-width:1440px;
	padding:4.4em 0 0
}
	@media screen and (max-width:568px)
{
.header
{
	padding-top:1.9em
}

}
.header.header--home
{
	min-height:100vh;
	/*background:url(../images/1.jpg) center no-repeat #FFF;*/
	background-size:cover;
	max-width:100%;
	margin:0;
	padding:0
}
.header.header--home .header__tagline
{
	font-size:1.2em;
	line-height:1.5;
	/*font-weight:700;*/
	max-width:1440px;
	padding:3.6em 10%
}
	@media screen and (max-width:568px)
{
.header.header--home .header__tagline
{
	font-size:20px;
	line-height:1.55;
	padding-top:1.9em
}

}
	@media screen and (max-width:568px) and (max-width:568px)
{
.header.header--home .header__tagline
{
	font-size:17px
}

}
.header.header--home .header__links
{
	position:absolute;
	bottom:4.1em;
	/*max-width:1440px;*/
	margin:0 auto;
	right:0;
	left:0;
	padding:0 10%
}
	@media screen and (max-width:568px)
{
.header.header--home .header__links
{
	bottom:1.6em
}

}
.header.header--inverse
{
	color:#000
}
.header.header--sticky
{
	position:absolute;
	top:0;
	left:0;
	right:0
}
.header.header--fixed
{
	position:fixed;
	top:0;
	left:0;
	right:0
}
ul.links {
	margin-left: 0 !important;
}
.menu-item
{
	display:inline-block;
	vertical-align:baseline;
	margin:0 25px 0 0;
	/*padding:0 0 .5em*/
}
.links
{
	/*font-weight:700;*/
	/*list-style-type:none;*/
	margin:0;
	/*padding:0*/
}

.links:before
{
	content:none
}
.links:first-child
{
	margin-left:0
}
.links a
{
	border-bottom: 1px solid #c7c7c7;
  	color: #444;
}
.links a:hover
{
	color: #222;
  	border-bottom: 2px solid #d15fee;
  	transition: all linear 0.3s;
  	-webkit-transition: all linear 0.3s;
}