<div class="hr-cut"></div>
<div class="gradient"</div>
<div id="left"><a href="#" class="up" title="наверх">up</a></div>
<div id="center"> 
	<a href='https://alpha.app.net/dobro' rel='me'>Follow me on App.net</a>
</div>
<div id="right">
  <form action="{{ site.simple_search }}" method="get">
  <fieldset role="search">
    <input type="hidden" name="q" value="site:{{ site.url | shorthand_url }}" />
    <input class="search" type="text" name="q" results="0" placeholder=""/>
  </fieldset>
  </form>
</div>