<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:locale" content="ru_RU" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ page.title }}">
<meta property="og:description" content="{{ page.description }}">
{% if page.cover %}<meta property="og:image" content="{{ page.cover }}">{% endif %}
<meta property="twitter:card" content="summary"/>
<meta property="twitter:site" content="@a_naydenov">
<meta property="twitter:title" content="{{ page.title }}"/>