body > footer {
  @extend .sans;
  font-size: .8em;
  color: $footer-color;
  text-shadow: lighten($footer-bg, 5) 0 1px;
  background-color: $footer-bg;
  @include background($footer-bg-front, $footer-bg-back);
  border-top: 1px solid $footer-border-top;
  position: relative;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 3em;
  @include border-bottom-radius(.4em);
  z-index: 1;
  a {
    @include link-colors($footer-link-color, $footer-link-color-hover, $visited: $footer-link-color);
  }
  .up {
    background: image-url('up.png') no-repeat;
    width: 26px;
    height: 26px;
    display: inline-block;
    text-shadow: 0;
    margin-left:$text-color;
    text-indent: -9999em;
    position: relative;
    float: left;
    @include opacity(0.7);
    @include transition(0.3s all linear);
    &:hover {
      @include opacity(1);
    }
  }
  p:last-child { margin-bottom: 0; }
}
.search label{
    font-size:1em;
    color: $text-color;
    text-indent:-9999em;
    display:block;
    float:right;
}
.search input[type="text"]{
    text-indent:1px;
    padding:0 0 0 22px;
    width:0;
    height:22px;
    background:image-url('search-icon.png')2px 2px no-repeat, -webkit-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(225,225,225,1) 10%, rgba(167,167,167,1)100%);
    background:image-url('search-icon.png')1px 2px no-repeat, -moz-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(225,225,225,1) 10%, rgba(167,167,167,1)100%);
    border:1px solid #EBEBEB;
    color:$text-color;
    line-height:20px;
    font-weight:bold;
    -moz-text-shadow:1px 1px 1px rgba(255,255,255,0.05);
    -webkit-text-shadow:1px 1px 1px rgba(255,255,255,0.05);
    text-shadow:1px 1px 1px rgba(0,0,0,0.05);
    -webkit-border-radius:6px;
    -webkit-box-shadow:1px 1px 0 rgba(255,255,255,0.125); 
    -webkit-transition:width 0.5s ease-in-out;
    -moz-border-radius:6px;
    -moz-box-shadow:1px 1px 0 rgba(255,255,255,0.125); 
    -moz-transition:width 0.5s ease-in-out;
    cursor:pointer;
}
.search input[type="text"]:focus{
    width:200px;
    outline:none;
    background:image-url('search-icon.png')2px 2px no-repeat, -webkit-linear-gradient(bottom,rgba(100,100,100,1) 0%, rgba(40,40,40,1) 2%, rgba(22,22,22,1)100%);
    background:image-url('search-icon.png')1px 2px no-repeat, -moz-linear-gradient(bottom,rgba(100,100,100,1) 0%, rgba(40,40,40,1) 2%, rgba(22,22,22,1)100%);
    -webkit-box-shadow:1px 1px 0 rgba(255,255,255,0.125);
    -moz-box-shadow:1px 1px 0 rgba(255,255,255,0.125);
    cursor:text;
}