body > footer {
  @extend .sans;
  font-size: .8em;
  color: $footer-color;
  text-shadow: lighten($footer-bg, 5) 0 1px;
  background-color: $footer-bg;
  @include background($footer-bg-front, $footer-bg-back);
  border-top: 100px solid $footer-border-top;
  position: relative;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 3em;
  @include border-bottom-radius(.4em);
  z-index: 1;
  a {
    @include link-colors($footer-link-color, $footer-link-color-hover, $visited: $footer-link-color);
  }

  .gradient {
    background-image: image-url('footer-gradient.png');
  }
  .up {
    background: image-url('up.png') no-repeat;
    width: 26px;
    height: 26px;
    display: inline-block;
    text-shadow: 0;
    text-indent: -9999em;
    position: relative;
    float: left;
    @include opacity(0.7);
    @include transition(0.3s all linear);
    &:hover {
      @include opacity(1);
    }
  }
  p:last-child { margin-bottom: 0; }
}
#left, #center, #right { position: absolute; }
#left, #right { width: em; }
#left { left: 0; }
#center { left: 50%; }
#right { right: 0; }
  form {
    margin: 0; padding: 0;
    .search {
      line-height: 1.0em;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      -o-border-radius: 4px;
      -ms-border-radius: 4px;
      -khtml-border-radius: 4px;
      border-radius: 4px;
      // -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
      // -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
      // -o-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
      box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
      background: #202020;
      background-color: rgba(0, 0, 0, 0.3);
      background: image-url('search.png') .6em .5em no-repeat;
      // -moz-box-sizing: border-box;
      // -webkit-box-sizing: border-box;
      // -ms-box-sizing: border-box;
      box-sizing: border-box;
      border: 0;
      padding: 6px 8px 5px 21px;
      float: right;
      position: relative;
      color: darken $text-color;  
      width: 8% !important;
      max-width: 200px;
      opacity: 0.8;
      @include transition(all .5s);
      &:focus {
        outline: none;
        padding: 6px 8px 5px 31px;
        width: 85% !important;
      }
    }
  }