/*global*/

#example{display:inline-block}
#example{display:block}
.clear{clear:both}

html
{
    overflow-y:scroll;
    font:75% 'Lucida Sans Unicode','Lucida Grande',arial,helvetica,sans-serif;
    background:#e2e2e2 url("flowers-left.png") no-repeat fixed 0 400px;
}



.page .offline-button
{
    margin-top:0;
}

.offline-button:hover {
    background: #e36028;
}

#example
{
    margin: 20px 0;
    padding: 20px 0;
    border: solid #999;
    border-width: 1px 0;
}
